{{> header}}
<!-- Main Content -->
<main class="body-content">
  <div class="ms-content-wrapper">
    <div class="row">
      <div class="col-md-12">
        <div class="ms-panel">
             <div class="ms-panel-header row ms-panel-custom">
             <a><h6> Add teams </h6></a>
             <a href="{{baseUrl}}admin/teams" class="btn btn-pill btn-primary text-right">Manage Teams</a>
              
          </div>
          <div class="ms-panel-body">
            {{!-- <p class="ms-directions">Use <code>.validation-fill</code> in <code>.needs-validation</code></p> --}}
            <form   id="add_team" enctype="multipart/form-data">
              <div class="form-row">
                <div class="col-md-8 mb-3">
                  <label for="title">Name</label>
                  <div class="input-group">
                    <input type="text" class="form-control" id="name" placeholder="Name..."
                      required="">
                  </div>
                </div>
                <div class="col-md-8 mb-3">
                  <label for="description">Designation</label>
                  <div class="input-group">
                    <textarea type="text" class="form-control" id="designation" placeholder="Designation ...."></textarea>
                  </div>
                </div>
                <div class="col-md-8 mb-3">
                  <label for="image">Image</label>
                  <div class="input-group">
                    <input type="file" class="form-control" id="image" placeholder="file name" required="">
                  </div>
                </div>
              </div>

              <button class="btn btn-primary" type="submit">Submit </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{{> footer}}
<script
  src="https://cdn.tiny.cloud/1/gjih04gph0whx805hjslljajbzeay2y124x7rt03w29fk08y/tinymce/7/tinymce.min.js"></script>
<script>
 
  function makeAjaxRequestAdd(url, headers, formData) {
  $.ajax({
    url: url,
    method: 'POST',
    data: formData,
    headers: headers,
    processData: false, // Important for FormData
    contentType: false, // Important for FormData
    success: function (response) {
      toastr.clear();
      toastr.success("Added successfully!", "Success");
      setTimeout(function () {
        window.location.reload();
      }, 1000);
    },
    error: function (err) {
      console.error('Error fetching data:', err);

      if (err.status === 403 || err.status === 401) {
        toastr.error('Authentication failed, please login again!');
        setTimeout(function () {
          window.location.href = '{{baseUrl}}admin/login';
        }, 2000);
      } else {
        const responseJSON = err.responseJSON;
        toastr.error(responseJSON.message);
      }
    },
  });
}

$('#add_team').submit(function (e) {
  e.preventDefault(); // Prevent the default form submission

  console.log('Form submitted: add_team');

  // Create a FormData object to handle form data and the image file
  const formData = new FormData();
  formData.append('name', $('#name').val());
  formData.append('designation',$('#designation').val());

  // Include the image file from the file input
  const imageFile = $('#image')[0].files[0]; // Assuming input with id="brand_image"
  if (imageFile) {
    formData.append('image', imageFile);
  }

  const token = localStorage.getItem('jwtToken');
  const headers = token
    ? {
        'Authorization': `Bearer ${token}`,
      }
    : {};

  const url = `${baseUrl}api/teams/create`;

  // Call the AJAX request function
  makeAjaxRequestAdd(url, headers, formData);
});

</script>