{{> header}}
<!-- Main Content -->
<main class="body-content"> 
  <div class="ms-content-wrapper">
    <div class="row">
      <!-- Orders Table Expanded -->
      <div class="col-md-12">        
        <div class="ms-panel">
          <div class="ms-panel-header row ms-panel-custom">
             <a><h6> My Appointments List</h6></a>
             {{!-- <a href="{{baseUrl}}admin/add-appointments" class="btn btn-pill btn-primary text-right">Add appointments</a>
              --}}
          </div>
          <div class="ms-panel-body">
            <div class="table-responsive">
              <div class="mb-3 main-search d-flex align-items-end justify-content-between">
                <div class="dataTables_length" id="data-table-8_length">
                  <label>Show </label>
                    <select name="data-table-8_length"
                      aria-controls="data-table-8" class="custom-select form-control form-control-sm" id="limit">
                      <option value="50">50</option>
                      <option value="100">100</option>
                      <option value="200">200</option>
                      <option value="500">500</option>
                    </select> 
                    
                </div>
                <div id="data-table-8_filter" class="dataTables_filter"><label></label>
                  <input type="text" id="search" class="form-control search" placeholder="Search by title">
                </label>
                </div>
              </div>
              <table id="data-table" class="table table-striped thead-primary w-100">
                <thead>
                  
                </thead>
                <tbody>
                </tbody>
              </table>
              <ul id="pagination-controls" class="pagination has-gap"></ul>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

</main>

{{> footer}}
<script>
    let columns = [
  { field: 'id', label: 'ID' },
  { field: 'name', label: 'Name' },
  { field: 'email', label: 'Email' },
  { field: 'phone', label: 'Phone' },
  { field: 'mode_consultation', label: 'Mode Consultation' },
  { field: 'purpose', label: 'purpose' } ,
  { field: 'age', label: 'Age' } ,
  { field: 'gender', label: 'Gender' } ,
  { field: 'appointment_date', label: 'Appointment Date' },
  { field: 'appointment_time', label: 'Appointment Time' },
  { field: 'payment_status', label: 'PaymentStatus!' },
  { field: 'payment_id', label: 'Payment ID' },
  { field: 'appointmentview', label: 'Actions' },
  // Special field for actions
];
  document.addEventListener('DOMContentLoaded', function () {
    setTimeout(function () { 
      setDataType('appointments/user',columns);
    }, 500);
  });
</script>