{{> header}}
<!-- Main Content -->
<main class="body-content">
    <div class="ms-content-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="ms-panel">
                    <div class="ms-panel-header row ms-panel-custom">
                        <a>
                            <h6> Change Password </h6>
                        </a>

                    </div>
                    <div class="ms-panel-body">
                        {{!-- <p class="ms-directions">Use <code>.validation-fill</code> in
                            <code>.needs-validation</code>
                        </p> --}}
                        <form id="changePasswordForm">
                            <div class="form-group">
                                <label for="currentPassword">Current Password</label>
                                <input type="password" class="form-control" id="currentPassword" name="currentPassword"
                                    placeholder="Enter current password" required>
                            </div>
                            <div class="form-group">
                                <label for="newPassword">New Password</label>
                                <input type="password" class="form-control" id="newPassword" name="newPassword"
                                    placeholder="Enter new password" required>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword">Confirm New Password</label>
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                                    placeholder="Confirm new password" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Change Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{> footer}}
 <script>
     $('#changePasswordForm').on('submit', function (e) {
        e.preventDefault();

        const formData = {
            old_password: $('#currentPassword').val(),
            new_password: $('#newPassword').val(),
            confirm_password: $('#confirmPassword').val()
        };

        // Basic client-side validation
           const token = localStorage.getItem('jwtToken');
        const headers = token
            ? {
                'Authorization': `Bearer ${token}`,
            }
            : {};

        const url = `${baseUrl}api/blogs/create`;

        // Make an API call to update the password
        $.ajax({
            url: '{{baseUrl}}api/users/change_password',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(formData),
            headers: headers,
            success: function (response) {
              
                toastr.success("Password changed successfully!", "Success");
                // Optionally clear the form fields
                $('#changePasswordForm')[0].reset();
            },
            error: function (err) {
                 console.error('Error fetching data:', err);

                if (err.status === 403 || err.status === 401) {
                    toastr.error('Authentication failed, please login again!');
                    setTimeout(function () {
                        window.location.href = '{{baseUrl}}admin/login';
                    }, 2000);
                } else {
                    const responseJSON = err.responseJSON;
                    toastr.error(responseJSON.message);
                }
            }
        });
    });
 </script>
<!-- Logo and Favicon preview section -->